/**
 * Created by Yunzhe on 2018/2/4.
 */

body {
    background-color: #FFE2E2;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

ul {
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
}

@media (min-width: 576px) {
    #navbar-container {
        max-width: 576px;
        margin-left: 0;
    }
}

@media (min-width: 768px) {
    #navbar-container {
        max-width: 800px;
        margin-left: auto;
    }
}

@media (min-width: 992px) {
    #navbar-container {
        max-width: 990px;
    }

    #title {
        font-size: 2.5rem !important;
        line-height: 2.5rem !important;
    }
}

@media (min-width: 1200px) {
    #navbar-container {
        max-width: 1160px;
    }

    #title {
        font-size: 3rem !important;
        line-height: 3rem !important;
    }

    #info td {
        font-size: 1.2em !important;
    }
}

.nav-bg {
    background-image: -webkit-linear-gradient(bottom, #FFC7C7 0, #ffd7d7 100%);
    background-image: -o-linear-gradient(bottom, #FFC7C7 0, #ffd7d7 100%);
    background-image: linear-gradient(to top, #FFC7C7 0, #ffd7d7 100%);
    box-shadow: 0 0 5px black;
}

#navbar {
    height: 4rem;
    position: relative;
    padding: .5rem;
    z-index: 10;
}

#navbar-container {
    height: 4rem;
}

#navbar-brand {
    font-size: 2rem;
    cursor: pointer;
}

#navbar-list {
    cursor: pointer;
    height: 4rem;
}

#navbar-list .active {
    background-color: #e17b7b;
    /*box-shadow: 0 0 10px black;*/
}

.navbar-item {
    text-align: center;
    width: 6.5rem;
    font-size: 1.2rem;
    line-height: 4rem;
    -webkit-transition: background-color .25s;
    -moz-transition: background-color .25s;
    -ms-transition: background-color .25s;
    -o-transition: background-color .25s;
    transition: background-color .25s;
}

.navbar-item:hover {
    background-color: #e17b7b;
}

.text-f6 {
    color: #f6f6f6 !important;
}

@font-face {
    font-family: "NotoJP";
    src: url("../font/NotoSansCJKjp-Regular.otf");
}

@font-face {
    font-family: "NotoSC";
    src: url("../font/NotoSansCJKsc-Regular.otf");
}

.noto-jp {
    font-family: NotoJP, sans-serif;
}

.noto-sc {
    font-family: NotoSC, NotoJP, sans-serif;
}

#search-box {
    text-indent: 2rem;
    background-color: #e6b3b3;
    color: #e5cece;
    height: 2rem;
    width: 100%;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2px;
    border-radius: 1rem;
    border: none;
    -webkit-transition: background-color .5s;
    -moz-transition: background-color .5s;
    -ms-transition: background-color .5s;
    -o-transition: background-color .5s;
    transition: background-color .5s;
}

#search-box::placeholder {
    color: #f9e4e4;
}

#search-box:focus {
    color: #7c6b6b;
    background-color: #FFE2E2;
}

.over-hide {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

input:focus {
    outline: none;
}

@font-face {
    font-family: "myicon";
    src: url("../font/myicon.woff");
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

.icon-search {
    font-size: 1rem;
    font-family: myicon, sans-serif;
    position: absolute;
    top: 0.25rem;
    left: 1.75rem
}

.avatar {
    height: 2.5rem;
    border-radius: 1.5rem;
    border: 2px solid #eeeeee;
}

.bg-f6 {
    background-color: #f6f6f6;
    box-shadow: 0 0 3px #b47f81;
}

.minw-800 {
    min-width: 800px;
}

#bg-image {
    position: absolute;
    width: 100%;
    height: 600px;
    transform: scale(0.6);
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(200px);
    opacity: 0.4;
}

.minh {
    min-height: 500px;
}

#disc-group {
    position: absolute;
    top: 10px;
    -webkit-transition: top .5s;
    -moz-transition: top .5s;
    -ms-transition: top .5s;
    -o-transition: top .5s;
    transition: top .5s;
}

#disc-cover {
    position: absolute;
    width: 100%;
    transform: scale(0.63);
    z-index: 1;
    border-radius: 50%;
}

#disc-mask {
    position: absolute;
    z-index: 2;
    width: 100%;
    border-radius: 50%;
}

#disc-light {
    transform: scale(0.92);
    position: absolute;
    z-index: 3;
    width: 100%;
    border-radius: 50%;
}

#disc-needle {
    transform-origin: 15.15% 9.09%;
    transform: translate(-15.15%, -9.09%) scale(0.25) rotateZ(-20deg);
    position: absolute;
    left: 50%;
    width: 100%;
    border-bottom-left-radius: 100%;
    z-index: 4;
    -webkit-transition: transform .5s;
    -moz-transition: transform .5s;
    -ms-transition: transform .5s;
    -o-transition: transform .5s;
    transition: transform .5s;
}

#disc-play {
    position: absolute;
    width: 100%;
    transform: scale(0.2);
    z-index: 5;
    border-radius: 50%;
    opacity: 0;
    -webkit-transition: opacity .25s;
    -moz-transition: opacity .25s;
    -ms-transition: opacity .25s;
    -o-transition: opacity .25s;
    transition: opacity .25s;
    cursor: pointer;
}

.unselactable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#quality {
    position: absolute;
    /*left: -.1rem;*/
    font-size: .8rem;
    background-color: #28a745;
    color: #f6f6f6;
    border-radius: .3rem;
    font-weight: 600;
    width: 3rem;
}

#quality p {
    text-align: center;
    margin-bottom: 0;
}

#count {
    position: absolute;
    top: 2rem;
    background-color: #8785A2;
    width: 3rem;
    height: 2.7rem;
    color: #f6f6f6;
    border-radius: 0.3rem;
    z-index: 1;
}

#count p {
    margin-bottom: 0;
    text-align: center;
    -webkit-transition: all .25s;
    -moz-transition: all .25s;
    -ms-transition: all .25s;
    -o-transition: all .25s;
    transition: all .25s;
}

#count-switch {
    position: absolute;
    background-color: #e17b7b;
    /*background-color: #8785A2;*/
    width: 3rem;
    height: 1.5rem;
    z-index: -1;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
    -webkit-transition: all .25s;
    -moz-transition: all .25s;
    -ms-transition: all .25s;
    -o-transition: all .25s;
    transition: all .25s;
}

#count-play {
    line-height: 1.5rem;
}

#count-download {
    line-height: 1.2rem;
}

hr {
    margin: 0;
    border-top: 1px solid #f6f6f6;
}

#title {
    margin-left: 3.5rem;
    font-size: 2rem;
    line-height: 2rem;
    width: auto;
    cursor: default;
}

.title-tooltip {
    margin: 0 !important;
    border-bottom-right-radius: 0;
}

#description {
    margin-left: 3.5rem;
    color: gray;
    cursor: default;
}

#info {
    clear: both;
    border-right: 2px solid #dddddd;
    cursor: default;
}

#info-table {
    /*-webkit-transform: rotateY(10deg);*/
    /*-moz-transform: rotateY(10deg);*/
    /*-ms-transform: rotateY(10deg);*/
    /*-o-transform: rotateY(10deg);*/
    /*transform: rotateY(70deg);*/
}

#info table {
    border-collapse: separate;
    border-spacing: 10px;
}

#info th {
    font-size: 1.1rem;
    color: gray;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 5rem;
    font-weight: normal;
    vertical-align: top;
}

#info td {
    vertical-align: top;
    font-size: 1.1em;
}

.icon-tag {
    color: #6e6c90;
    font-size: 1rem;
}

.link {
    color: #8785A2;
}

.link:hover {
    color: #8785A2;
    text-decoration: underline;
}

.external {
    font-size: 0.8rem;
    line-height: 1.0rem;
    color: #bbbbbb;
    opacity: 0.1;
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
}

.external:hover {
    opacity: 1.0;
}

.icon-report {
    font-family: myicon, sans-serif;
    color: #8785A2;
    font-size: 1.2rem;
    line-height: 1.5rem;
    margin-top: -1.5rem;
}

.btn-play {
    background-image: -webkit-linear-gradient(bottom, #e17b7b 0, #e17b7b 25%, #ec9f9f 100%);
    background-image: -o-linear-gradient(bottom, #e17b7b 0, #e17b7b 25%, #ec9f9f 100%);
    background-image: linear-gradient(to top, #e17b7b 0, #e17b7b 25%, #ec9f9f 100%);
    box-shadow: 0 0 2px gray;
    border-bottom-left-radius: 0.3rem;
    border-top-left-radius: 0.3rem;
    cursor: pointer;
    color: #ffffff;
    font-weight: 600;
}

.btn-add {
    background-image: -webkit-linear-gradient(bottom, #e17b7b 0, #e17b7b 25%, #ec9f9f 100%);
    background-image: -o-linear-gradient(bottom, #e17b7b 0, #e17b7b 25%, #ec9f9f 100%);
    background-image: linear-gradient(to top, #e17b7b 0, #e17b7b 25%, #ec9f9f 100%);
    border-bottom-right-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
    border-left: 1px solid #e59e9e;
    color: #ffffff;
    font-size: 0.5rem;
    line-height: 1.5rem;
}

.btn-special:hover {
    background-image: -webkit-linear-gradient(bottom, #e17b7b 0, #e17b7b 25%, #ec9f9f 100%);
    background-image: -o-linear-gradient(bottom, #e17b7b 0, #e17b7b 25%, #ec9f9f 100%);
    background-image: linear-gradient(to top, #df9797 0, #df9797 25%, #edb7b7 100%);
}

.btn-action {
    box-shadow: 0 0 2px gray;
    cursor: pointer;
    /*Transition does not work*/
    -webkit-transition: background-image 0.5s ease-in-out;
    transition: background-image 0.5s ease-in-out;
}

.btn-normal {
    color: #666666;
    background-image: -webkit-linear-gradient(bottom, #e3e3e3 0, #f7f7f7 100%);
    background-image: -o-linear-gradient(bottom, #e3e3e3 0, #f7f7f7 100%);
    background-image: linear-gradient(to top, #e3e3e3 0, #f7f7f7 100%);
    border-radius: 0.3rem;

}

.btn-normal:hover {
    background-image: -webkit-linear-gradient(bottom, #FFC7C7 0, #ffd7d7 100%);
    background-image: -o-linear-gradient(bottom, #FFC7C7 0, #ffd7d7 100%);
    background-image: linear-gradient(to top, #f1e3e3 0, #f6f1f1 100%);
}

.icon-action-normal {
}

.collect {
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
    color: #bbbbbb;
    opacity: 0.1;
}

.collect:hover {
    opacity: 1;
}

.tooltip-inner {
    margin: 1px;
    background-color: #8785A2;
    /*color: #000000;*/
    padding: 0.25rem;
}

.bs-tooltip-top .arrow::before, .bs-tooltip-auto[x-placement^="top"] .arrow::before {
    border-top-color: #8785A2;
}

.bs-tooltip-left .arrow::before, .bs-tooltip-auto[x-placement^="left"] .arrow::before {
    left: 0;
    border-width: 0.4rem 0 0.4rem 0.4rem;
    border-left-color: #8785A2;
}

#player-container {
    position: fixed;
    bottom: 0;
    height: 3.5rem;
    z-index: 5;
    cursor: default;
}

#player-bg {
    position: absolute;
    height: 3.5rem;
    width: 100%;
    background: #8785A2 linear-gradient(-45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-size: 5rem 5rem;
    box-shadow: 0 0 5px black;
    opacity: 0.95;
}

#player {
    margin: 0 !important;
}

.icon-control {
    /*text-shadow: none;*/
    text-shadow: 0 0 10px #222222;
    color: #FFC7C7;
    line-height: 3.5rem;
    -webkit-transition: text-shadow 1s;
    -moz-transition: text-shadow 1s;
    -ms-transition: text-shadow 1s;
    -o-transition: text-shadow 1s;
    transition: text-shadow 1s;
}

#control-previous {
    font-size: 2rem;
}

#control-previous:hover {
    text-shadow: 0 0 3px #FFE2E2;
}

#control-toggle {
    font-size: 3rem;
}

#control-toggle:hover {
    text-shadow: 0 0 3px #FFE2E2;
}

#control-next {
    font-size: 2rem;
}

#control-next:hover {
    text-shadow: 0 0 3px #FFE2E2;
}

.popup {
    padding: 0 !important;
    background: none !important;
}

.popup-message {
    position: absolute;
    z-index: 10;
}

.popup-text {
    padding: 1rem;
    font-size: 2rem;
    background-color: black;
    color: #f6f6f6;
    opacity: 0.8;
    line-height: 2rem;
}

.icon-message {
    font-size: 2rem;
    margin-right: 0.5rem;
}

.text-time {
    color: #FFE2E2;
    height: 3.5rem;
    line-height: 3.5rem;
    text-shadow: 0 0 8px gray;
}

#progress-container {
    line-height: 3.5rem;
}

#current-time {
    text-align: right;
}

#progress-indicator {
    position: absolute;
    top: -6px;
    left: -7px;
    line-height: 0;
    z-index: 1;
    -webkit-transition: left 1s;
    -moz-transition: left 1s;
    -ms-transition: left 1s;
    -o-transition: left 1s;
    transition: left 1s;
    /*opacity: 0.5;*/
}

#icon-indicator-top {
    color: #FFC7C7;
    position: absolute;
    text-shadow: 0 0 8px white;
    z-index: 2;
}

#icon-indicator-bottom {
    color: #FFE2E2;
    position: absolute;
}

.progress {
    height: 4px;
    background-color: #aaaaaa;
    box-shadow: 0 0 10px gray;
}

#progress-go {
    border-radius: 2px;
}

#progress-loaded {
    border-radius: 2px;
    height: 4px;
    position: absolute;
    background-color: #cccccc !important;
}

#progress-played {
    border-radius: 2px;
    height: 4px;
    position: absolute;
    background-color: #FFE2E2 !important;
    background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.65) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.65) 50%, rgba(255, 255, 255, 0.65) 75%, transparent 75%, transparent);
    background-size: 1rem 1rem;
}

#control-volume {
    color: #FFC7C7;
    font-size: 1.5rem;
}

#control-volume:hover {
    text-shadow: 0 0 3px #FFE2E2;
}

#control-list {
    font-size: 1.8rem;
}

#control-list:hover {
    text-shadow: 0 0 3px #FFE2E2;
}